<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/employeeform}" th:object="${person}" method="post">
    First Name:<input type="text" th:field="*{firstname}"/><br />
    Last Name:<input type="text" th:field="*{lastname}"/><br />
    SSN:<input type="number" th:field="*{ssn}"/><br />
    checked:<input type="checkbox" th:field="*{checked}"/><br />

    <div  th:object="${job}">
     Job:   <input type="text" th:field="*{name}">
    </div>

   random <input type="text" name="random">


<!--    <form th:object="${job}">-->
<!--        job: <input type="text" th:field="*{name}">-->
<!--        </br>-->
<!--        <input type="submit" value="Submit"/>-->
<!--    </form>-->


    <input type="submit" value="Submit"/>

</form>


</body>
</html>
